<div id="omforetaget" class="bg-white pt4">
  <div class="flex flex-column">
    {{ range $index, $item := .blurbs }}
    <div class="flex-auto tc pv5 ph3">
      <img id="blurb-{{$index}}" src="{{$item.image}}" alt="" class="center db mb4 w-50 mw4">
      <p class="grey-4 center ph2 ph5-m mw6-ns f5">{{$item.text}}</p>
    </div>
    {{ end }}
    <div class="flex-auto tc pv5 mt5 bg-primary">
      <img src="{{.info.image}}" alt="" class="center db mb5 mt4 mt6-m w-75 mw5 header">
      <p class="white center ph3 ph4-m ph5-m mw6-ns">{{.info.text}}</p>
    </div>
  </div>
</div>