<div class="bg-white pt4">
  <div class="flex flex-column">
    {{ range .blurbs }}
    <div class="flex-auto tc pv5 ph3">
      <img src="{{.image}}" alt="" class="center db mb4" style="width: 180px">
      <p class="grey-4 center ph2 ph5-m mw6-ns">{{.text}}</p>
    </div>
    {{ end }}
    <div class="flex-auto tc pv6 mt5 bg-primary">
      <img src="{{.info.image}}" alt="" class="center db mb5" style="width: 260px">
      <p class="white center ph3 ph4-m ph5-m mw6-ns">{{.info.text}}</p>
    </div>
  </div>
</div>