<div id="kontakt" class="bg-primary white ph2">
  <h3 class="tc pv4 pv5-m f4 f3-m">Frågor? Ta gärna kontakt!</h3>
  <div class="flex flex-wrap bg-white mw7 br1 overflow-hidden shadow-1 center">
    <ul class="grey-4 flex-auto w-100 w-50-ns">
      <li class="black pa3 divider tc fw9">Kontaktuppgifter</li>
      <li class="pa3 flex items-center divider">{{ partial "icon" (dict "icon" "icons-person") }}{{.name}}</li>
      <li class="pa3 flex items-center divider">{{ partial "icon" (dict "icon" "icons-location") }}{{.address}}</li>
      <li class="pa3 flex items-center divider">{{ partial "icon" (dict "icon" "icons-phone") }}{{.phone}}</li>
      <li class="pa3 flex items-center">{{ partial "icon" (dict "icon" "icons-mail") }}{{.email}}</li>
    </ul>
    <div id="map" class="flex-auto w-100 w-50-ns h5 h-auto-ns">
    </div>
  </div>
</div>