<footer class="bg-primary ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">
			<img src="/img/logo.svg" alt="dialogen logo" class="db w4 center mb4 br0">
		</div>

		<div class="flex justify-center">
			<div>
				<h3 class="f4 fw9 b lh-title mb2 white">Social media</h3>
				<ul class="mhn2 tc">
					{{ if .Params.facebook }}
						{{ partial "social-icon" (dict "link" .Params.facebook "svg" "icons-facebook") }}
					{{ end }}
					{{ if .Params.instagram }}
						{{ partial "social-icon" (dict "link" .Params.instgram "svg" "icons-instagram") }}
					{{ end }}
				</ul>
			</div>
		</div>

	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
