<div class="vh-90 flex justify-center items-center relative overflow-hidden top-shadow">

  <div class="z-1 tc ph2">
    <h1 class="f2 fw9 f1-l b di lh-title mb3 white ts">
      {{.title}}
    </h1>
  </div>

  <a class="z-1 bottom-0 mb3 mb6-m pa4 absolute fw9 btn shadow-2 raise" href="#kontakt">Ta kontakt</a>
<!--
  <div class="z-1 bg-white ph3 pv2 br1 shadow-1 absolute bottom-0 mb2 mb4-m">
    <ul class="db">
      <li class="flex flex-nowrap f6 items-center grey-3">
        <svg class="dib mr2 o-80 h1 w1">
          <use xlink:href="#icons-phone"></use>
        </svg>
        {{.contact.phone}}
      </li>
      <li class="mt1 flex flex-nowrap f6 items-center grey-3">
        <svg class="dib mr2 h1 w1">
          <use xlink:href="#icons-mail"></use>
        </svg>
        {{.contact.email}}
      </li>
    </ul>
  </div>
-->
  <div class="bg-center cover absolute left-0 top-0 right-0 bottom-0 f-bd" style="background-image: url('{{.image}}')"></div>
</div>