<nav class="z-2 overflow-x-scroll overflow-x-visible-ns flex justify-center justify-between-m items-center flex-wrap flex-nowrap-m center absolute left-0 right-0 mw8">

	<!-- Logo -->
	<a href="#" class="order-1 order-0-m pt2 pa3-ns db mr2-ns h-100 w4 flex-none mt3 mt0-m">
		<img src="/img/logo.svg" alt="Dialogen logo" class="br0 db mb0 w-100" />
	</a>

	<!-- Primary Nav -->
	<ul class="order-2 dn flex-m b white justify-between w-100 w-auto-l pt1 pt0-m">
		<li>
			<a href="#omforetaget" class="pa3 no-underline db">Om företaget</a>
		</li>
		<li>
			<a href="#lankar" class="pa3 no-underline db">Länkar</a>
		</li>
		<li>
			<a href="#kontakt" class="pa3 no-underline db">Ta kontakt</a>
		</li>
	</ul>

</nav>