<nav class="z-1 overflow-x-scroll overflow-x-visible-ns flex justify-center justify-between-m items-center flex-wrap center absolute left-0 right-0 mw8">

	<!-- Logo -->
	<a href="#" class="pt2 pa3-ns db mr4-ns h-100 w4 flex-none">
		<img src="/img/logo.svg" alt="Dialogen logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="dn flex-m b white justify-between w-100 w-auto-l pt1 pt0-m">
		<li><a href="#omforetaget" class="pa3 no-underline db">Om företaget</a></li>
		<li><a href="#karlstadmodellen" class="pa3 no-underline db">Karlstadmodellen</a></li>
		<li><a href="#babblarna" class="pa3 no-underline db">Babblarna</a></li>
		<li><a href="#kontakt" class="pa3 no-underline db">Ta kontakt</a></li>
	</ul>

</nav>
