<div class="z-3 ph3 pv1 absolute top-0 w-100">
	<ul class="flex mw9 center justify-around justify-end-m">
		<li class="flex-nowrap dn flex-m f7 items-center white">
			{{.Params.contact.name}}
		</li>
		<li class="ml3-ns flex flex-nowrap f7 items-center white">
			{{.Params.contact.phone}}
		</li>
		<li class="ml3-ns flex flex-nowrap f7 items-center white">
			{{.Params.contact.email}}
		</li>
	</ul>
</div>

<nav class="z-2 overflow-x-scroll overflow-x-visible-ns flex justify-center justify-between-m items-center flex-wrap flex-nowrap-m center absolute top-1 left-0 right-0 mw8">

	<!-- Logo -->
	<a href="#" class="pt2 pa3-ns db mr2-ns ml4-ns h-100 w4 flex-none mt3 mt0-m">
		<img src="/img/logo.svg" alt="Dialogen logo" class="br0 db mb0 w-100" />
	</a>

	<!-- Primary Nav -->
	<ul class="dn flex-m b white justify-end w-100 w-auto-l pt1 pt0-m">
		<li>
			<a href="#omforetaget" class="ph4 pv2 no-underline db">Om företaget</a>
		</li>
		<li>
			<a href="#lankar" class="ph4 pv2 no-underline db">Länkar</a>
		</li>
		<li>
			<a href="#kontakt" class="ph4 pv2 no-underline db">Ta kontakt</a>
		</li>
	</ul>

</nav>