<div id="lankar" class="bg-primary ph3-m w-100">
	<h3 class="tc pb3 pb4-m f4 f3-m white">Länkar</h3>
	<div class="center relative overflow-hidden flex flex-column flex-row-m justify-around items-center center mw7">
		{{ range .sections }}
		<div class="flex-auto bg-white tc br1 shadow-1 ma2 ma3-m overflow-hidden">
			<div class="bg-center cover h5" style="background-image: url('{{.image}}')"></div>
			<div class="pb4 pt3 ph2 ph4-m">
				<h2 class="f4 mb2 black">{{.title}}</h2>

				<p class="f6 grey-3 center">{{.text}}</p>

				{{ if .buttonLink }}
				<div class="tc pb2">
					<a href="{{.buttonLink}}" class="primary f6 raise">{{.buttonText}}</a>
				</div>
				{{ end }}
			</div>
		</div>
		{{ end }}
	</div>
</div>