.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  font-size: 1.25rem;
  line-height: 1.25;
  background-color: var(--primary);
  text-decoration: none;
  border-radius: 2rem;
  font-weight: var(--medium-font-weight);
  color: var(--white);
  text-align: center;
  transition: var(--hover-transition);
}
