<!doctype html>
<html lang="en">
  {{ partial "head" . }}
  <body class="sans-serif">
    {{ partial "nav" . }}
    {{ block "main" . }}{{ end }} 
    {{ partial "footer" . }}
    <script>
      function initMap() {
        var location = {lat: 63.717126, lng: 23.323363};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          mapTypeControl: false,
          streetViewControl: false,
          fullscreenControl: false,
          center: location
        });
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
      }
    </script>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdCZeNbwk6G1D2E3T1otv06DdIzaKrrfg&callback=initMap">
    </script>
  </body>
</html>