.hero--main {
  min-height: 85vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
  margin-bottom: var(--spacing);

  & > * {
    flex: 0 0 50%;
  }
}

.hero--content {
  & > h1 {
    font-size: 4.5rem;
    margin-bottom: 3rem;
  }
}

a.hero--cta-button {
  display: inline-block;
  color: #fff;
  padding: 1rem 3rem;
  background: var(--primary-gradient);
  box-shadow: var(--shadow-large);
  border-radius: 8px;
}

.hero--image-wrapper {
  display: flex;
  justify-content: center;
}

.hero--image {
  width: 32rem;
  height: 32rem;
  object-fit: cover;
  border-radius: 50%;
}

@media (--viewport-small) {
  .hero--main {
    flex-direction: column-reverse;
    margin-bottom: calc(var(--spacing) * 2);
    justify-content: flex-end;
  }

  .hero--image {
    height: 16rem;
    width: 16rem;
    margin-bottom: 2rem;
  }

  .hero--content {
    text-align: center;

    & > h1 {
      font-size: 3.5rem;
      margin-bottom: 1.5rem;
    }
  }

  a.hero--cta-button {
    margin-right: auto;
    margin-left: auto;
  }
}
