.info--main {
  width: var(--container-width);
  max-width: var(--container-max-width);
  margin: 0 auto var(--spacing);

  text-align: center;

  & > svg {
    height: auto;
    width: 18rem;
    fill: var(--primary-light);
    margin-bottom: 4rem;
  }

  & > p {
    margin: 0 auto;
    font-size: 1.175rem;
    max-width: 32rem;
  }
}
