<div id="kontakt" class="contact--main">
  <h2>Frågor? Ta gärna kontakt!</h2>
  <div class="contact--wrapper">
    <ul class="contact--list">
      <li>
        {{ partial "utils/inline-svg" "user" }}
        {{ .Params.contact.name }}
      </li>
      <li>
        {{ partial "utils/inline-svg" "marker" }}
        {{ .Params.contact.address }}
      </li>
      <li>
        {{ partial "utils/inline-svg" "phone" }}
        <a href="tel:{{ .Params.contact.phone }}">
          {{ .Params.contact.phone }}
        </a>
      </li>
      <li>
        {{ partial "utils/inline-svg" "envelope" }}
        <a href="mailto:{{ .Params.contact.email }}">
          {{ .Params.contact.email }}
        </a>
      </li>
      <li class="contact--social-media">
        {{ if .Params.socialmedia.facebook }}
          {{ partial "common/social-icon.html" (dict "link" .Params.socialmedia.facebook "type" "facebook") }}
        {{ end }}
        {{ if .Params.socialmedia.instagram }}
          {{ partial "common/social-icon.html" (dict "link" .Params.socialmedia.instagram "type" "instagram") }}
        {{ end }}
      </li>
    </ul>
    <div id="map" class="contact--map"></div>
  </div>
</div>