<div id="kontakt" class="bg-primary white ph2">
  <h3 class="tc pv4 pv5-m f4 f3-m">Frågor? Ta gärna kontakt!</h3>
  <div class="flex flex-wrap bg-white mw7 br1 overflow-hidden shadow-1 center">
    <ul class="grey-4 flex-auto w-100 w-50-ns">
      <li class="black pa3 divider tc fw9">Kontaktuppgifter</li>
      <li class="pa3 flex items-center divider">{{ partial "utils/inline-svg" "person" }}{{ .Params.contact.name }}</li>
      <li class="pa3 flex items-center divider">{{ partial "utils/inline-svg" "location" }}{{ .Params.contact.address }}</li>
      <li class="pa3 flex items-center divider">{{ partial "utils/inline-svg" "phone" }}{{ .Params.contact.phone }}</li>
      <li class="pa3 flex items-center">{{ partial "utils/inline-svg" "mail" }}{{ .Params.contact.email }}</li>
    </ul>
    <div id="map" class="flex-auto w-100 w-50-ns h5 h-auto-ns">
    </div>
  </div>
</div>